BootSector/bin/Gpt.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/Mbr.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/Start64.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/Start64H.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/boot0 svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/boot0md svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/boot1f32 svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/boot1h svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/bs32.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/efi32.com3 svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/efi64.com2 svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/efi64.com3 svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/start32.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/start32H.com2 svn_mime_002dtype=application%2Foctet-stream
BootSector/fix-embedded-paths svn_mime_002dtype=application%2Foctet-stream
BootSector/gnu-gcc svn_mime_002dtype=application%2Foctet-stream
BootSector/gnu-ld svn_mime_002dtype=application%2Foctet-stream
GenericBdsLib/GenericBdsStrings.uni svn_mime_002dtype=application%2Foctet-stream
Logo/Logo.bmp svn_mime_002dtype=application%2Foctet-stream
Logo/LogoBW.bmp svn_mime_002dtype=application%2Foctet-stream
Logo/Logo_CloverEFI.bmp svn_mime_002dtype=application%2Foctet-stream
OsxBdsDxe/BootMaint/Bmstring.uni svn_mime_002dtype=application%2Foctet-stream
OsxBdsDxe/BootMngr/BootManagerStrings.uni svn_mime_002dtype=application%2Foctet-stream
OsxBdsDxe/DeviceMngr/DeviceManagerStrings.uni svn_mime_002dtype=application%2Foctet-stream
OsxBdsDxe/FrontPageStrings.uni svn_mime_002dtype=application%2Foctet-stream
OsxBdsDxe/Strings.uni svn_mime_002dtype=application%2Foctet-stream
OsxSmbiosGenDxe/SmbiosGenStrings.uni svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.ia32.port80.raw svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.ia32.raw svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.ia32.serial.raw svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.x64.port80.raw svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.x64.raw svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.x64.serial.raw svn_mime_002dtype=application%2Foctet-stream
