Logo/Logo.bmp svn_mime_002dtype=application%2Foctet-stream
Logo/LogoBW.bmp svn_mime_002dtype=application%2Foctet-stream
OsxBdsLib/GenericBdsStrings.uni svn_mime_002dtype=application%2Foctet-stream
OsxSmbiosGenDxe/SmbiosGenStrings.uni svn_mime_002dtype=application%2Foctet-stream
