BootHFS/boot1altV3 svn_mime_002dtype=application%2Foctet-stream
BootHFS/boot1f32alt svn_mime_002dtype=application%2Foctet-stream
BootHFS/boot1h2 svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/Gpt.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/Mbr.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/Start64.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/Start64H.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/boot0 svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/boot0md svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/boot1f32 svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/boot1h svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/bs32.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/efi32.com3 svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/efi64.com2 svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/efi64.com3 svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/start32.com svn_mime_002dtype=application%2Foctet-stream
BootSector/bin/start32H.com2 svn_mime_002dtype=application%2Foctet-stream
BootSector/fix-embedded-paths svn_mime_002dtype=application%2Foctet-stream
BootSector/gnu-gcc svn_mime_002dtype=application%2Foctet-stream
BootSector/gnu-ld svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/BootSectors/boot0 svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/BootSectors/boot0hfs svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/BootSectors/boot0md svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/BootSectors/boot1altV2 svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/BootSectors/boot1f32 svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/BootSectors/boot1f32alt svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/BootSectors/boot1h svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/BootSectors/boot1h2 svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/BootSectors/fdisk440 svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/ACPI/mini/DSDT.aml svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/BoG_DejaVuSans_9W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/BoG_LucidaConsole_10W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/OoB_Hellfire_Bold_9W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/OoB_Hellfire_Bold_Noise_9W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_CodenameCoder4F_8W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_DejaVuSans_9W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_FreeMono_10W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_Hellfire_Bold_9W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_Hellfire__9W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_Juan_13W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_Liberation_11W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_LucidaConsole_10W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_Monaco_10W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_PTMono_10W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_UbuntuMonoBold_8W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/WoB_mplus2mMedium_9W.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/dark-wide.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/device-cyr.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/device.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/print-cyr.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/font/print.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/themes/Selection_144px.bmp svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/themes/Selection_64px.bmp svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/themes/frame.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/themes/logo_main.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/BOOT/themes/logo_metal.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/tools/Shell32.efi svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/EFI/tools/Shell64.efi svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/Selection_big.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/Selection_small.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/func_about.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/func_options.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/func_reset.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/func_shutdown.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/logo.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/os_clover.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/os_cougar.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/os_legacy.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/os_leo.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/os_lion.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/os_snow.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/os_tiger.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/os_vista.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/tool_shell.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/vol_external.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/icons/vol_internal.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/logo-org.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/black_green/logo.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/apple.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/boot_linux.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/boot_win.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/cd.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/cd_lin.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/cd_mac.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/cd_win.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/func_about.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/func_options.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/func_reset.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/func_shutdown.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_cougar.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_ecomstation.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_freebsd.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_freedos.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_hwtest.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_legacy.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_leo.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_linux.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_lion.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_mac.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_netbsd.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_openbsd.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_snow.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_tiger.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_unknown.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/os_win.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/osx.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/pointer.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/tool_part.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/tool_rescue.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/tool_shell.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/vol_external.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/vol_firewire.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/vol_internal.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/icons/vol_optical.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/logo-org.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/logo.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/selection_big.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/buttons/selection_small.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/frame-144x144.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/frame-64x64.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/func_about.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/func_options.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/func_reset.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/func_shutdown.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/logo.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/os_cougar.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/os_leo.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/os_lion.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/os_snow.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/os_tiger.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/pointer.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/tool_shell.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/vol_external.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/vol_internal.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/icons/vol_optical.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/hellfire/logo.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/Selection_big.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/Selection_small.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/apple.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/arrow.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/boot_linux.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/boot_win.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/cd.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/cd_lin.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/cd_mac.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/cd_win.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/frame.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/func_about.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/func_options.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/func_reset.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/func_shutdown.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_clover.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_cougar.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_ecomstation.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_freebsd.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_freedos.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_hwtest.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_legacy.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_leo.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_linux.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_linux.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_lion.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_mac.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_netbsd.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_openbsd.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_snow.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_tiger.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_unknown.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/os_win.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/osx.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/pointer.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/tool_part.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/tool_rescue.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/tool_shell.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/vol_clover.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/vol_external.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/vol_firewire.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/vol_internal.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/icons/vol_optical.icns svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/logo-org.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/CloverV2/themespkg/metal/logo.png svn_mime_002dtype=application%2Foctet-stream
CloverPackage/package/Resources-original/background.tiff svn_mime_002dtype=application%2Foctet-stream
CloverPackage/package/Resources-original/en.lproj/Localizable.strings svn_mime_002dtype=application%2Foctet-stream
CloverPackage/package/Resources-original/ru.lproj/Localizable.strings svn_mime_002dtype=application%2Foctet-stream
CloverPackage/package/Resources-original/zh_CN.lproj/Localizable.strings svn_mime_002dtype=application%2Foctet-stream
GenericBdsLib/GenericBdsStrings.uni svn_mime_002dtype=application%2Foctet-stream
Logo/Logo.bmp svn_mime_002dtype=application%2Foctet-stream
Logo/LogoBW.bmp svn_mime_002dtype=application%2Foctet-stream
Logo/Logo_CloverEFI.bmp svn_mime_002dtype=application%2Foctet-stream
OsxBdsDxe/BootMaint/Bmstring.uni svn_mime_002dtype=application%2Foctet-stream
OsxBdsDxe/BootMngr/BootManagerStrings.uni svn_mime_002dtype=application%2Foctet-stream
OsxBdsDxe/DeviceMngr/DeviceManagerStrings.uni svn_mime_002dtype=application%2Foctet-stream
OsxBdsDxe/FrontPageStrings.uni svn_mime_002dtype=application%2Foctet-stream
OsxBdsDxe/Strings.uni svn_mime_002dtype=application%2Foctet-stream
OsxSmbiosGenDxe/SmbiosGenStrings.uni svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.ia32.port80.raw svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.ia32.raw svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.ia32.serial.raw svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.x64.port80.raw svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.x64.raw svn_mime_002dtype=application%2Foctet-stream
UefiCpuPkg/ResetVector/Vtf0/Bin/ResetVector.x64.serial.raw svn_mime_002dtype=application%2Foctet-stream
